# Gradle
.gradle
gradlew.bat
build
local.properties
reports

# IntelliJ IDEA
.idea
*.iml
*.ipl
*.iws
classes/
idea-classes/
coverage-error.log

# Finder
.DS_Store

# Java
*.hprof

# kmp
kotlin-js-store

.kotlin

# Swift Package Manager
# Keep Package.swift but ignore build artifacts
*.xcodeproj/
*.xcworkspace/
.build/
DerivedData/
/Gateway.xcframework/ios-arm64/Gateway.framework/Headers/Gateway.apinotes
/Gateway.xcframework/ios-arm64/Gateway.framework/Headers/Gateway.h
/Gateway.xcframework/ios-arm64/Gateway.framework/Headers/Gateway-Swift.h
/Gateway.xcframework/ios-arm64/Gateway.framework/Modules/Gateway.swiftmodule/arm64-apple-ios.abi.json
/Gateway.xcframework/ios-arm64/Gateway.framework/Modules/Gateway.swiftmodule/arm64-apple-ios.private.swiftinterface
/Gateway.xcframework/ios-arm64/Gateway.framework/Modules/Gateway.swiftmodule/arm64-apple-ios.swiftdoc
/Gateway.xcframework/ios-arm64/Gateway.framework/Modules/Gateway.swiftmodule/arm64-apple-ios.swiftinterface
/Gateway.xcframework/ios-arm64/Gateway.framework/Modules/Gateway.swiftmodule/arm64-apple-ios.swiftsourceinfo
/Gateway.xcframework/ios-arm64/Gateway.framework/Modules/module.modulemap
/Gateway.xcframework/ios-arm64/Gateway.framework/Gateway
/Gateway.xcframework/ios-arm64/Gateway.framework/Info.plist
/Gateway.xcframework/ios-arm64_x86_64-simulator/Gateway.framework/Headers/Gateway.apinotes
/Gateway.xcframework/ios-arm64_x86_64-simulator/Gateway.framework/Headers/Gateway.h
/Gateway.xcframework/ios-arm64_x86_64-simulator/Gateway.framework/Headers/Gateway-Swift.h
/Gateway.xcframework/ios-arm64_x86_64-simulator/Gateway.framework/Modules/Gateway.swiftmodule/arm64-apple-ios-simulator.abi.json
/Gateway.xcframework/ios-arm64_x86_64-simulator/Gateway.framework/Modules/Gateway.swiftmodule/arm64-apple-ios-simulator.swiftdoc
/Gateway.xcframework/ios-arm64_x86_64-simulator/Gateway.framework/Modules/Gateway.swiftmodule/arm64-apple-ios-simulator.swiftinterface
/Gateway.xcframework/ios-arm64_x86_64-simulator/Gateway.framework/Modules/Gateway.swiftmodule/arm64-apple-ios-simulator.swiftsourceinfo
/Gateway.xcframework/ios-arm64_x86_64-simulator/Gateway.framework/Modules/Gateway.swiftmodule/x86_64-apple-ios-simulator.abi.json
/Gateway.xcframework/ios-arm64_x86_64-simulator/Gateway.framework/Modules/Gateway.swiftmodule/x86_64-apple-ios-simulator.swiftdoc
/Gateway.xcframework/ios-arm64_x86_64-simulator/Gateway.framework/Modules/Gateway.swiftmodule/x86_64-apple-ios-simulator.swiftinterface
/Gateway.xcframework/ios-arm64_x86_64-simulator/Gateway.framework/Modules/Gateway.swiftmodule/x86_64-apple-ios-simulator.swiftsourceinfo
/Gateway.xcframework/ios-arm64_x86_64-simulator/Gateway.framework/Modules/module.modulemap
/Gateway.xcframework/ios-arm64_x86_64-simulator/Gateway.framework/Gateway
/Gateway.xcframework/ios-arm64_x86_64-simulator/Gateway.framework/Info.plist
/Gateway.xcframework/Info.plist
